name: Deploy API
on:
  push:
    branches: [main]
    paths: ["backend/**"]

jobs:
  deploy_api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x"

      - name: Build and Deploy API
        run: |
          cd backend/PhotoUpload.API
          dotnet publish -c Release -o ./publish
          cd publish
          zip -r ../api-deploy.zip .
          az webapp deploy --resource-group photo-upload-rg --name photo-api-8190 --src-path "../api-deploy.zip" --type zip
